

.dashboardContainer {
    --medium-color: #3f4d69;
    --dark-color: #091836;
    --light-color: #d7dfef;

    background: var(--dark-color);
    @apply flex flex-col justify-center items-center min-h-screen w-screen overflow-hidden;
}

.electivesContainer {
    min-width: 350px;
    @apply flex flex-col h-screen gap-3
    items-center justify-start mt-32 w-full md:w-3/5 lg:w-1/2;
}

.elective {
    background: var(--light-color);
    @apply flex flex-col items-start gap-4
    h-auto w-10/12 md:w-4/6 py-2 px-2 md:py-3 md:px-8 rounded-lg;
}

.elective h3 {
    @apply mx-2;
}

.electiveGrid{
    @apply flex justify-between w-full gap-1 md:gap-2 mx-3;
}

.electiveGrid > div {
    @apply w-5/6 flex flex-col gap-2 md:ml-3;
}

.electiveGrid label {
    @apply text-lg font-semibold;
}

.subjects {
    @apply flex flex-col text-sm w-full;
}