
.electiveContainer {
    --medium-color: #233457;
    --dark-color: #091836;
    --light-color: #d7dfef;
    --input-bg-color: #252A57;
    --input-font-color: #dee2eb;

    color:var(--input-font-color);
    @apply flex flex-col justify-start items-start w-full md:w-3/4 lg:w-1/2
    h-screen pt-24 px-8 md:px-10 gap-10 overflow-y-scroll;
}

.electiveContainer::-webkit-scrollbar {
    display: none;
    background: var(--dark-color);
}

.electiveContainer::-webkit-scrollbar-button {
    background: var(--dark-color);
}

.electiveHeading {
    @apply flex w-full justify-between items-end;
}

.electiveHeading h1 {
    @apply font-bold text-4xl md:text-5xl;
}

.courses {
    @apply w-full flex flex-col gap-7;
}

.courseContainer {
    background: var(--medium-color);
    color: #e1e4eb;
    @apply flex flex-col gap-4 w-full p-4 lg:p-6 rounded-md;
}

.courseHeading {
    @apply flex flex-col justify-start w-full gap-2;
}

.courseHeading h4 {
    @apply font-semibold;
}

.courseHeading label {
    @apply text-sm;
}
.stdname {
    @apply w-52 md:w-60;
}

.copylink {
    @apply flex gap-3 items-center font-semibold rounded py-2 px-5;
}

.copylink:hover {
    background: var(--medium-color);
}

.studentsContainer {
    background: var(--medium-color);
    color: #e1e4eb;
    @apply flex flex-col gap-4 w-full p-4 lg:p-6 rounded-md;
}

.studentsContainer header {
    @apply flex justify-between items-end pb-4;
}

.studentsContainer h4 {
    @apply font-semibold;
}

.studentsContainer table {
    @apply text-center w-full;
}

.studentsContainer td, .studentsContainer th {
    @apply py-1 px-2 text-start;
}

.toExcel {
    background: var(--light-color);
    color:var(--dark-color);
    @apply flex gap-2 items-center py-1 px-2 rounded;
}

.toExcel:hover {
    background: #f0f2f7;
    box-shadow: 1px 1px 7px #dee2eb;
}