@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin:0;
  padding:0;
}

:root {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #091836;
}

:root:-webkit-scrollbar {
  display:none;
}

main:-webkit-scrollbar {
  display:none;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}

.container {
  @apply flex flex-col items-center justify-center gap-7;
}